html{
    height: 100%;
    width: 100%;
}
body{
    margin: 0%;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    background-color: darkgray;
    display: flex;
    justify-content: space-around;
    border-radius: 1.4em;
    margin: 1em;
}